@model IEnumerable<DataSource>

<div id="dataSourceList">
    @foreach (var item in Model)
    {
        var itemName = string.Empty;
        if (!string.IsNullOrWhiteSpace(item.Name))
        {
            itemName = item.Name + " - " + item.BankAccount;
        }
        else
        {
            itemName = item.BankAccount;
        }
        <div>
            <h4>@itemName</h4>
            <hr />
        </div>
    }
</div>
