USE [master]
GO
/****** Object:  Database [RevenueControl]    Script Date: 22.09.2016 11:40:16 ******/
CREATE DATABASE [RevenueControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RevenueControl.mdf', FILENAME = N'C:\Work\RevenueControl\RevenueControl\RevenueControl\RevenueControl.Web\App_Data\RevenueControl.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RevenueControl_log.ldf', FILENAME = N'C:\Work\RevenueControl\RevenueControl\RevenueControl\RevenueControl.Web\App_Data\RevenueControl_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RevenueControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RevenueControl]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 22.09.2016 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DataSources]    Script Date: 22.09.2016 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataSources](
	[BankAccount] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Culture] [nvarchar](15) NOT NULL,
	[ClientName] [nvarchar](30) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DataSources] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DataSources] UNIQUE CLUSTERED 
(
	[ClientName] ASC,
	[BankAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 22.09.2016 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[TransactionDetails] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [tinyint] NOT NULL,
	[OtherDetails] [nvarchar](max) NULL,
	[DataSourceId] [int] NOT NULL,
	[Ignore] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_TransactionDate]    Script Date: 22.09.2016 11:40:16 ******/
CREATE CLUSTERED INDEX [IX_TransactionDate] ON [dbo].[Transactions]
(
	[TransactionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTags]    Script Date: 22.09.2016 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](30) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[Tag] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TransactionTags] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_TransactionTags_TransactionId]    Script Date: 22.09.2016 11:40:16 ******/
CREATE CLUSTERED INDEX [IX_TransactionTags_TransactionId] ON [dbo].[TransactionTags]
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TransactionTags]    Script Date: 22.09.2016 11:40:16 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionTags] ON [dbo].[TransactionTags]
(
	[ClientName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataSources]  WITH CHECK ADD  CONSTRAINT [FK_DataSources_Clients] FOREIGN KEY([ClientName])
REFERENCES [dbo].[Clients] ([Name])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataSources] CHECK CONSTRAINT [FK_DataSources_Clients]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_DataSources] FOREIGN KEY([DataSourceId])
REFERENCES [dbo].[DataSources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_DataSources]
GO
ALTER TABLE [dbo].[TransactionTags]  WITH CHECK ADD  CONSTRAINT [FK_TransactionTags_Transactions] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionTags] CHECK CONSTRAINT [FK_TransactionTags_Transactions]
GO
USE [master]
GO
