@model RevenueControl.Web.Models.TransactionsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Transactions for: @Model.DataSource</h2>
@Html.Partial("_Transactions", @Model.Transactions)
<p>
    @Html.ActionLink("Create New", "Create")
</p>
