@model RevenueControl.Web.Models.TransactionsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Transactions for: @Model.DataSource</h2>
@Html.Partial("_Transactions", Model.Transactions)
<p>
    @Html.ActionLink("Upload", "Create")
    @Html.ActionLink("Upload more transactions", "Index", "TransactionUpload", new {id = Model.DataSourceId}, null)
</p>